Q1. What is a database? Differentiate between SQL and NoSQL databases.

|SQL                                                      |NoSQL                                                          |
|---------------------------------------------------------|---------------------------------------------------------------|
|RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)            |Non-relational or distributed database system                  |
|---------------------------------------------------------|---------------------------------------------------------------|
|SQL have a predefined schema                             |NoSQL use dynamic schema for unstructured data.                |
|---------------------------------------------------------|---------------------------------------------------------------|
|SQL are not suited for hierarchical data storage.        |NoSQL are best suited for hierarchical data storage.           |
|---------------------------------------------------------|---------------------------------------------------------------|
|SQL are best suited for complex queries                  |NoSQL are not so good for complex queries                      |  
|---------------------------------------------------------|---------------------------------------------------------------|
|SQL are table based databases                            |NoSQL can be document based, key-value pairs, graph databases  |
|---------------------------------------------------------|---------------------------------------------------------------|
|SQL databases are vertically scalable                    |NoSQL databases are horizontally scalable                      |
|---------------------------------------------------------|---------------------------------------------------------------|
|Follows ACID property                                    |Follows Base(Basically Available, Soft state, Eventually Consistent)| 
|---------------------------------------------------------|---------------------------------------------------------------|
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc  |Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc       |
***

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database

These database objects include views, schemas, tables, indexes, etc. 
 
This term is also known as data description language in some contexts, as it describes the fields and records in a database table. 
***

***Commonly used DDL in SQL querying are:***

* CREATE

* ALTER

* DROP

* TRUNCATE
***

**Create**

This command builds a new table. 

Syntax :
CREATE TABLE [table name] ([column definitions]) [table parameters];

For example:

CREATE TABLE Employee (Employee Id INTEGER PRIMARY KEY, First name CHAR (50) NULL, Last name CHAR (75) NOT NULL);
***

**ALTER**


These command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.

Syntax : ALTER object type object name parameters;

For example:

ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);
***

**Drop**

A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, thereâ€™s no way to recover it.

Syntax :DROP object type object name;

For example:

DROP TABLE Employee;
***

**Truncate**

TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later.

Syntax : TRUNCATE TABLE table_name;

For example:

TRUNCATE TABLE employee;
***

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A data manipulation language (DML) is a computer languages. It including commands permitting users to manipulate data in a database.

**This manipulation involves :**

* Inserting data into database tables  (INSERT INTO)

* Retrieving existing data             (SELECT)

* Deleting data from existing tables   (DELETE FROM)

* Modifying existing data              (UPDATE)
***

**SELECT**

This command is used to retrieve rows from a table. 

Syntax: SELECT [column name(s)] from [table name] where [conditions].
***

**UPDATE**

This command modifies data of one or more records. 

Syntax: UPDATE [table name] SET [column name = value] where [condition].
***

**INSERT**

This command adds one or more records to a database table. 

Syntax: INSERT INTO [table name] [column(s)] VALUES [value(s)].
***

**DELETE** 

This command removes one or more records from a table according to specified conditions. 

Syntax: DELETE FROM [table name] where [condition].
***

Q4. What is DQL? Explain SELECT with an example.

The commands of SQL that are used to retrieve data from the database are collectively called DQL. So all Select statements come under DQL.

select * from employee;

select emp_id,emp_name,emp_add from employee;
***

Q5. Explain Primary Key and Foreign Key.

|Primary Key                                                       | Foreign Key                                           |
|------------------------------------------------------------------|-------------------------------------------------------|
|PRIMARY KEY constraint uniquely identifies each record in a table.| Foreign key used to build a relationship between the two tables        |
|------------------------------------------------------------------|-------------------------------------------------------|
|Primary keys can not be duplicated                                | Foreign Key can be duplicated                         |
|------------------------------------------------------------------|-------------------------------------------------------|
|Primary keys cannot contain NULL values.                          | Foreign Key can be null                               |
|------------------------------------------------------------------|-------------------------------------------------------|
|A table can have only ONE primary key                             | Foreign Key can have more than one foreign key in the table           |  
|------------------------------------------------------------------|-------------------------------------------------------|
|Primary key can consist of single or multiple columns             | Foreign key can consist of single or multiple columns (fields).
|------------------------------------------------------------------|-------------------------------------------------------|
|Primary key length cannot be exceeded than 900 bytes              | Foreign key length cannot be exceeded than 900 bytes  |
|------------------------------------------------------------------|-------------------------------------------------------|

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

cursor()

A cursor is an object which helps to execute the query and fetch the records from the database. 

execute()

The execute () method helps us to execute the query and return records according to the query.

In [3]:
#import the library
import mysql.connector

# creating connection
conn = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database ="dbTest"
)

# import the cursor from the connection (conn)
mycursor = conn.cursor()

mycursor.execute("SELECT * FROM MOVIE")
# iterate over the result
for row in mycursor:
    print(row)

# we close the cursor and conn both
mycursor.close()
conn.close()

ModuleNotFoundError: No module named 'mysql'

Q7. Give the order of execution of SQL clauses in an SQL query.

The SQL order of execution defines the order in which the clauses of a query are evaluated.

SQL query order can help you diagnose why a query wonâ€™t run, and even more frequently 
will help you optimize your queries to run faster.

![order of execution](https://github.com/HusainSiddiqui/16_Feb_Assignment/blob/main/sql_order.png?raw=true)